---
import Title from "../Title/Title.astro";
import Brand from "./Brand.astro";
import brandsCSS from "./css/brands.module.css";
import mookBrands from "../../mook/brands.json"
import { lowercase, replaceBackslashWithHyphen } from "../../utils";
const {label = "Nuestras Marcas"} = Astro.props;
---

<section class={brandsCSS.brands} id="marcas">
    <Title
        style={{
            textAlign: "center",
        }}
        level="h1"
        label={label}
       
    />
    <article class={brandsCSS.container} >
        {mookBrands.brands.map((brand) => {
            const name = lowercase(replaceBackslashWithHyphen(brand.name));
            return (
                <Brand payload={brand} title={name} src={brand.logo}/>
            )
        })}
    </article>
</section>