---
import Paragraph from "../Paragraph.astro";
import Title from "../Title/Title.astro";
import brandsCSS from "./css/brands.module.css";
const { src = "./marcas/mujer.jpg", payload } = Astro.props;
---

<section class={brandsCSS.brand}>
    <article class={brandsCSS.contentBrand}>
        <img class={brandsCSS.imageBrand} src={src} alt={payload.name} />
        <Title level="card" label={payload.name} />
        <section class={brandsCSS.contentDescription}>
            <p class={brandsCSS.parafraphCard}>
                {payload.description}
            </p>
        </section>
        <footer class={brandsCSS.footer}>
            <a class={brandsCSS.web} href={payload.website} target="_blank" rel="noopener noreferrer">
                Web
            </a>
        
            <a class={brandsCSS.mas} href={payload.name.replaceAll(" ", "-").toLowerCase()} rel="noopener noreferrer">
                Más
            </a>
        </footer>
    </article>
</section>
