---
const { label, level, className, style } = Astro.props;
import "./title.module.css"
import stylesTitle from "./title.module.css";
---

{
  level === "h1" && (
    <h1 class={className ? className :stylesTitle.lvl_one} style={{...style }}>
      {label}
    </h1>
  )
}
{
  level === "h2" && (
    <h2 class={className ? className :stylesTitle.lvl_two} style={{  ...style }}>
      {label}
    </h2>
  )
}
{
  level === "h3" && (
    <h3 class={className ? className :stylesTitle.lvl_three} style={{ ...style }}>
      {label}
    </h3>
  )
}
{
  level === "h4" && (
    <h4 class={className ? className :stylesTitle.lvl_four} style={{ ...style }}>
      {label}
    </h4>
  )
}
{
  level === "h5" && (
    <h5 class={className ? className :stylesTitle.lvl_four} style={{  ...style }}>
      {label}
    </h5>
  )
}
{
  level === "h6" && (
    <h6 class={className ? className :stylesTitle.lvl_five} style={{ ...style }}>
      {label}
    </h6>
  )
}
{
  level === "mainTitle" && (
    <h1 class={className ? className :stylesTitle.mainTitle} style={{ ...style }}>
      {label}
    </h1>
  )
}

{
  level === "card" && (
    <h2 class={className ? className :stylesTitle.card} style={{ ...style }}>
      {label}
    </h2>
  )
}
